.page-header {
    background-color: var(--primery-white-color);
    border-bottom: 1px solid #ECECEC;
}

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav__item + .site-nav__item {
    margin-left: 50px;
}

.site-nav .current {
    position: relative;
}

.site-nav .current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: var(--accent-color);
    border-radius: 2px;
}


.site-nav__link {
    color: var(--primery-text-color);
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}

.site-nav__link.current {
    color: var(--accent-color);
}

.auth-nav__link {
    color: var(--title-text-color);
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;

    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.auth-nav__item {
    margin-right: 30px;
}

.icon-mail,
.icon-tel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-nav__link:hover,
.auth-nav__link:focus {
    color: var(--accent-color);
}

.envelope,
.smartphone {
    fill: currentColor;
    margin-right: 10px;
}