.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color);
    text-decoration: none;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
}

.logo__color__dark {
    color: var(--primery-text-color);
    
    font-size: 26px;
}