:root {
    --primery-text-color: #212121;
    --title-text-color:  #757575;
    --accent-color: #2196F3;
    --primery-white-color: #ffffff;
    --section-command-bc: #F5F4FA;
    --clients-color: #AFB1B8;
    --footer-color: #2F303A;
    --background: #2F303A;
}